# AngularCLI
# compiled output
dist
tmp
out-tsc
npm-debug.log

# dependencies
node_modules
.attach_pid*

## SpringBoot
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### To prevent password leaks
application.properties
