<div class="card border-dark">
  <div class="card-header">User Info</div>
  <div class="card-body">

    <form>
      <fieldset>


        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" [(ngModel)]="user.email" readonly
                   [ngClass]="{'form-control-plaintext': !editing, 'form-control': editing}"
                   id="email" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group row">
          <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="user.firstName" [readonly]="!editing"
                   [ngClass]="{'form-control-plaintext': !editing, 'form-control': editing}"
                   id="firstName" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="user.lastName" [readonly]="!editing"
                   [ngClass]="{'form-control-plaintext': !editing, 'form-control': editing}"
                   id="lastName" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group row">
          <label for="address" class="col-sm-2 col-form-label">Address</label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="user.address" [readonly]="!editing"
                   [ngClass]="{'form-control-plaintext': !editing, 'form-control': editing}"
                   id="address" [ngModelOptions]="{standalone: true}">
          </div>
        </div>


      </fieldset>
    </form>
  </div>


  <div class="card-footer">
    <div class="row">

      <div *ngIf="editable && !editing" (click)="edit()" class="btn btn-warning col-1 ml-auto mr-1">
        <i class="fa fa-edit"></i>
        Edit
      </div>

      <div *ngIf="editable && editing" (click)="save()" class="btn btn-success col-1 ml-auto mr-1">
        <i class="fa fa-save"></i>
        Save
      </div>
      <div *ngIf="editable && editing" (click)="cancel()" class="btn btn-danger col-1 mr-1">
        <i class="fa fa-times"></i>
        Cancel
      </div>

    </div>
  </div>
</div>
