<div class="container">
  <div class="row align-middle">
    <div class = "col-md-8">
      <div class = "container">
        <div>
          <h2> Flights</h2>
        </div>
        <div>
          <button class = "btn btn-success">Flights</button>
        </div>
      </div>
      <div class = "container">
        <div>
          <h2> Hotels</h2>
        </div>
        <div>
          <button class = "btn btn-success">Hotels</button>
        </div>
      </div>
      <div class = "container">
        <div>
          <h2> Rent-A-Car</h2>
        </div>
        <div>
          <button class = "btn btn-success">Rent A Car</button>
        </div>
      </div>
    </div>
  </div>
</div>
