<div class="container">
  <div class="row mt-2">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Make a reservation</h3>
        </div>
        <div class="card-body">
          <div class="row m-2">
            <!--Datum dolaska-->
            <div class="col-md-12">
              <span>Arival</span>
              <input id="datePicker" type="date" class="form-control" value="01/01/2018">
            </div>
          </div>
          <div class="row m-2">
            <!--Broj gostiju-->
            <div class="col-md-12">
              <span>Nights</span>
              <input type="number" class="form-control" value="0">
            </div>
          </div>
          <div class="row m-2">
            <!--Broj gostiju-->
            <div class="col-md-12">
              <span>Number of guests</span>
              <input type="number" class="form-control" value="0">
            </div>
          </div>
          <div class="row m-2">
            <!--Potreban broj soba-->
            <div class="col-md-4">
              <span>Rooms</span>
              <input type="number" class="form-control">
            </div>
            <div class="col-md-8">
              <label>Number of beds</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="row m-2">
            <!--Cjenovni rang-->
            <div class="col-md-6">
              <span>Price from:</span>
              <input type="number" class="form-control" step="10" value="0">
            </div>
            <div class="col-md-6">
              <span>to:</span>
              <input type="number" class="form-control" step="10" value="0">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row m-1 align-self-end">
            <div class="col-md-7">
            </div>
            <div class="col-md-5">
              <div class="btn btn-primary mr-2">Check</div>
              <div class="btn btn-warning m-auto">Cancel</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
