<div class="card">
  <div class="card-header">
    Search For New Friends
  </div>

  <div class="card-body">

    <!--Search part-->
    <div class="row">
      <label class="col-form-label col-2" type="text">Users Name:</label>
      <input [(ngModel)]="query" class="form-control col-8">
      <div (click)="search(query)" class="btn btn-success ml-3">
        <i class="fa fa-search"></i>
        <span class="ml-2">Search</span>
      </div>
    </div>

    <hr>

    <!--Results part-->
    <ul class="list-group">
      <li *ngFor="let user of users" class="list-group-item d-flex justify-content-between align-items-center row">
        <span class="col-3 text-left">{{user.firstName}} {{user.lastName}}</span>
        <div (click)="sendRequest(user)" class="btn btn-success ml-auto">
          <i class="fa fa-user-plus"></i>
          <span class="ml-1">Add Friend</span>
        </div>
      </li>
    </ul>

  </div>


</div>
