

<div class="card">
  <div class="card-header">
    Friend List
  </div>

  <div class="card-body">
    <ul class="list-group">
      <li *ngIf="!friends.length" class="list-group-item d-flex justify-content-between align-items-center row">
        <span>You do not have any friends yet. <a routerLink="/user/addFriends">Add friends</a></span>
      </li>

      <li *ngFor="let friend of friends" class="list-group-item d-flex justify-content-between align-items-center row">
        <span class="col-3 text-left">{{friend.firstName}} {{friend.lastName}}</span>
        <div (click)="removeFriend(friend)" class="ml-auto text-right btn btn-outline-danger">
          <i class="fa fa-user-times"></i>
          <span class="ml-1">Remove</span>
        </div>
      </li>
      </ul>

  </div>
</div>
