<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>System Administrator. Almighty...</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Flight Companies</h4>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">
          <div class="btn btn-primary">New</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Hotels</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item list-group-item-primary" *ngFor = "let hotel of hotels">
              <span>{{hotel.name}}</span>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <input type="text" class="form-control" [(ngModel)]="hotelName">
          <div class="btn btn-primary" (click) = "add(hotelName)">Create</div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Rent-A-Car services</h4>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">
          <div class="btn btn-primary">New</div>
        </div>
      </div>
    </div>
  </div>
</div>
