<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>System Administrator. Almighty...</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h4>Hotels</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <td class="m-3 font-weight-bold">Name</td>
              <td class="m-3 font-weight-bold">Description</td>
              <td class="m-3 font-weight-bold">Admin username</td>
              <td class="m-3 font-weight-bold align-baseline">Actions</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hotel of hotels">
              <td>
                <a href="/hotels/details/{{hotel.id}}" class="font-weight-bold">{{hotel.name}}</a>
              </td>
              <td>
                {{hotel.description}}
              </td>
              <td>
                {{hotel.admin.username}}
              </td>
              <td>
                <a href="/hotels/edit/{{hotel.id}}" class="m-1 btn-sm btn-primary">Edit</a>
                <a href="/hotels/delete/{{hotel.id}}" class="m-1 btn-sm btn-danger">Delete</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <hr>
        <div class="header"><h5>Create new hotel</h5></div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="form">
              <div class="form-group">
                <label for="hotelName">Name</label>
                <input type="text" class="form-control" [(ngModel)]="newHotel.name" #nameInput id="hotelName">
              </div>
              <div class="form-group">
                <label for="hotelDescription">Description</label>
                <textarea type="text" class="form-control" [(ngModel)]="newHotel.description" #descriptionInput
                          id="hotelDescription"></textarea>
              </div>
              <div class="form-group">
                <label for="hotelAdministrator">Administrator</label>
                <select class="form-control" id="hotelAdministrator" [(ngModel)]="newHotel.userEmail">
                  <option *ngFor="let user of users" [ngValue]="user.email">{{user.firstName}} {{user.lastName}}</option>
                </select>
              </div>
              <div class="btn btn-primary " (click)="add(newHotel); nameInput.value=''; descriptionInput.value = '';">
                Create
              </div>

            </div>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>

    </div>
  </div>
</div>
