<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <ul class="list-group-flush p-0">
        <div class="header-panel">
          <h2 class="m-2">Hotels </h2>
        </div>
        <li class="list-group-item border-right-0" *ngFor="let hotel of hotels">
          <div class="container-fluid">
            <div class="card">
              <h4 class="card-header font-weight-bold">{{hotel.name}}</h4>
              <div class="card-body">
                <div class="row m-1">
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p>{{hotel.description}}</p><br>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-success mr-2" routerLink="details/{{hotel.id}}">Details</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
